# Dependencies
node_modules/
*/node_modules/

# Production Build Outputs
dist/
dist-ssr/
build/
*.local

# Environment Variables & Secrets
.env
.env.*
!.env.example
server/.env
server/.env.*
!server/.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Scratch
scratch/
tmp/
